<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '411680012588378',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
    FB.getLoginStatus(function(response){
      if(response.status === 'connected'){
        document.getElementById('status').innerHTML = 'We are connected';
      }else if (response.status === 'not_authorized'){
        document.getElementById('status').innerHTML = 'We are not connected';
      }else{
        document.getElementById('status').innerHTML = 'We are not logged in ';
      }

    });
  };
function login(){
  FB.login(function(response){
    if(response.status === 'connected'){
      document.getElementById('status').innerHTML = 'We are connected';
    }else if (response.status === 'not_authorized'){
      document.getElementById('status').innerHTML = 'We are not connected';
    }else{
      document.getElementById('status').innerHTML = 'We are not logged in ';
    }
  });
}
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id = "status"></div>
<button onclick = "login()" id = "login">login</button>
