<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <meta name="google-signin-client_id" content="1094494456789-oqqp49v9et2r2rhm2begqdlsra9cm9fk.apps.googleusercontent.com">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "/javascript/script.js"></script>
  </head>
  <body>
    {{{body}}}
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
